body {
  background: rgb(220, 255, 248) !important;
  background: linear-gradient(
    90deg,
    rgba(220, 255, 248, 1) 43%,
    rgba(122, 207, 189, 1) 95%
  ) !important;
  color: white !important;
  padding: 40px !important;
  font-family: Arial !important;
  text-align: center !important;
}
.tarjeta {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 10%,
    rgba(32, 158, 159, 1) 63%,
    rgba(214, 232, 226, 1) 98%
  );
}
.borde{
  border-radius:15px !important;
  overflow : hidden !important;

  
}

.text-title{
  font-size: 25px;
  color:black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.carouselContainer{
  display: block;
  align-content: center;
  flex-direction: row;
  margin-top: 15px;
}
.buttonContainer{
  color: white;
  background-color: #1d3434;
  padding: 8px;
  margin: 5px;
}